In [1]:
!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
#!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
!pip install ipython-sql
!pip install sqlalchemy
!pip install ibm_db_sa
!pip install sqlalchemy==1.3.24
!pip install ibm_db_sa

Collecting ibm_db==3.1.0
  Using cached ibm_db-3.1.0-py3-none-any.whl
Collecting ibm_db_sa==0.3.3
  Using cached ibm_db_sa-0.3.3-py3-none-any.whl
Collecting sqlalchemy>=0.7.3
  Using cached SQLAlchemy-1.4.39-cp38-cp38-win_amd64.whl (1.6 MB)
Collecting greenlet!=0.4.17
  Using cached greenlet-1.1.2-cp38-cp38-win_amd64.whl (101 kB)
Installing collected packages: greenlet, sqlalchemy, ibm-db-sa, ibm-db
  Attempting uninstall: greenlet
    Found existing installation: greenlet 1.1.2
    Uninstalling greenlet-1.1.2:
      Successfully uninstalled greenlet-1.1.2
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.3.24
    Uninstalling SQLAlchemy-1.3.24:
      Successfully uninstalled SQLAlchemy-1.3.24

ERROR: Could not install packages due to an OSError: [WinError 5] Access is denied: 'C:\\Users\\rony_\\anaconda3\\Lib\\site-packages\\~3lalchemy\\cprocessors.cp38-win_amd64.pyd'
Consider using the `--user` option or check the permissions.

Requirement already satisfied: ipython-sql in c:\users\rony_\anaconda3\lib\site-packages (0.4.1)
Requirement already satisfied: prettytable<1 in c:\users\rony_\anaconda3\lib\site-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: sqlparse in c:\users\rony_\anaconda3\lib\site-packages (from ipython-sql) (0.4.2)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\users\rony_\anaconda3\lib\site-packages (from ipython-sql) (1.4.39)
Requirement already satisfied: ipython>=1.0 in c:\users\rony_\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\rony_\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: six in c:\users\rony_\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: decorator in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pygments in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: traitlets>=4.2 in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: colorama in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: jedi>=0.16 in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.17.2)
Requirement already satisfied: backcall in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: pickleshare in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: setuptools>=18.5 in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: matplotlib-inline in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\rony_\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: parso<0.8.0,>=0.7.0 in c:\users\rony_\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.7.0)
Requirement already satisfied: wcwidth in c:\users\rony_\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rony_\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.2)
Requirement already satisfied: sqlalchemy in c:\users\rony_\anaconda3\lib\site-packages (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rony_\anaconda3\lib\site-packages (from sqlalchemy) (1.1.2)
Requirement already satisfied: ibm_db_sa in c:\users\rony_\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\rony_\anaconda3\lib\site-packages (from ibm_db_sa) (1.4.39)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\rony_\anaconda3\lib\site-packages (from sqlalchemy>=0.7.3->ibm_db_sa) (1.1.2)
Collecting sqlalchemy==1.3.24
  Using cached SQLAlchemy-1.3.24-cp38-cp38-win_amd64.whl (1.2 MB)
Installing collected packages: sqlalchemy
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.39
    Uninstalling SQLAlchemy-1.4.39:
      Successfully uninstalled SQLAlchemy-1.4.39
Successfully installed sqlalchemy-1.3.24
Requirement already satisfied: ibm_db_sa in c:\users\rony_\anaconda3\lib\site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in c:\users\rony_\anaconda3\lib\site-packages (from ibm_db_sa) (1.3.24)

In [2]:
%load_ext sql

## Connection with database

In [3]:
%sql db2://ddt08706:Zt18WIG2gfvD0NJI@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb?security=SSL

# Questions to answer

#### Problem 1: Find the total number of crimes recorded in the CRIME table.

In [8]:
%sql select count('ID') as Total_number_of_crimes from CHICAGO_CRIME_DATA

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(533,)]

#### Problem 2: List community areas with per capita income less than 11000.

In [10]:
%sql select COMMUNITY_AREA_NAME,PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME<11000

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

#### Problem 3: List all case numbers for crimes involving minors?

In [14]:
%sql select CASE_NUMBER,DESCRIPTION from CHICAGO_CRIME_DATA where DESCRIPTION LIKE '%MINOR%'

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('HL266884', 'SELL/GIVE/DEL LIQUOR TO MINOR'),
 ('HK238408', 'ILLEGAL CONSUMPTION BY MINOR')]

#### Problem 4: List all kidnapping crimes involving a child?(children are not considered minors for the purposes of crime analysis)

In [16]:
%sql select CASE_NUMBER,DESCRIPTION from CHICAGO_CRIME_DATA where PRIMARY_TYPE LIKE '%KIDNAPPING%'\
and DESCRIPTION LIKE '%CHILD%'

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('HN144152', 'CHILD ABDUCTION/STRANGER')]

#### Problem 5: What kind of crimes were recorded at schools?

In [17]:
%sql select CASE_NUMBER,DESCRIPTION from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE '%SCHOOL%'

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('HL353697', 'SIMPLE'),
 ('HL725506', 'PRO EMP HANDS NO/MIN INJURY'),
 ('HP716225', 'SIMPLE'),
 ('HH639427', 'SIMPLE'),
 ('JA460432', 'SIMPLE'),
 ('HS200939', 'TO VEHICLE'),
 ('HK577020', 'POSS: HEROIN(WHITE)'),
 ('HS305355', 'MANU/DEL:CANNABIS 10GM OR LESS'),
 ('HT315369', 'PRO EMP HANDS NO/MIN INJURY'),
 ('HR585012', 'TO LAND'),
 ('HH292682', 'BOMB THREAT'),
 ('G635735', 'BOMB THREAT')]

#### Problem 6: List the average safety score for all types of schools.

In [23]:
#Selected from SCHOOLS table because the name was changed to EMH and did not wanted to reupload
%sql select EMH,avg(SAFETY_SCORE) as  AVG_SAFETY_SCORE from SCHOOLS \
group by EMH

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('ES', 49), ('HS', 49), ('MS', 48)]

#### Problem 7: List 5 community areas with highest % of households below poverty line.

In [25]:
%sql select COMMUNITY_AREA_NAME,PERCENT_HOUSEHOLDS_BELOW_POVERTY from CENSUS_DATA \
order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc nulls last limit 5

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('Riverdale', Decimal('56.5')),
 ('Fuller Park', Decimal('51.2')),
 ('Englewood', Decimal('46.6')),
 ('North Lawndale', Decimal('43.1')),
 ('East Garfield Park', Decimal('42.4'))]

#### Problem 8: Which community area(number) is most crime prone?

In [59]:
%sql select COMMUNITY_AREA_NUMBER,count(COMMUNITY_AREA_NUMBER) as Crime_Prone\
from CHICAGO_CRIME_DATA group by COMMUNITY_AREA_NUMBER order by Crime_Prone desc nulls last limit 1

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[(25, 43)]

#### Problem 9: Use a sub-query to find the name of the community area with highest hardship index.

In [63]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX=(select MAX(HARDSHIP_INDEX) from CENSUS_DATA)

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('Riverdale',)]

#### Problem 10: Use a sub-query to determine the Community Area Name with most number of crimes?

In [91]:
#AUSTIN ES LA RESPUESTA
#%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where COMMUNITY_AREA_NUMBER in\
#(select count(COMMUNITY_AREA_NUMBER) as frequency from CHICAGO_CRIME_DATA )

%sql SELECT community_area_name \
FROM CENSUS_DATA WHERE COMMUNITY_AREA_NUMBER = (SELECT CCD.COMMUNITY_AREA_NUMBER FROM CHICAGO_CRIME_DATA AS CCD \
GROUP BY CCD.COMMUNITY_AREA_NUMBER ORDER BY COUNT(CCD.COMMUNITY_AREA_NUMBER) DESC LIMIT 1);

 * db2://ddt08706:***@ea286ace-86c7-4d5b-8580-3fbfa46b1c66.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:31505/bludb
Done.

[('Austin',)]